/* pagination.css */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.pagination-button {
  background-color: #5c6ac4;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #4b5bb4;
}

.pagination-button:disabled {
  background-color: #c4cdd5;
  cursor: not-allowed;
}

/* Style cho thông tin số trang */
.pagination-info {
  font-size: 16px;
  color: #333;
}
