.search-bar-container {
  margin-bottom: 1rem;
  display: flex;
}

.search-bar {
  width: 60%; /* Chiều rộng search bar */
  max-width: 500px;
}

.search-bar input {
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #dfe3e8;
  font-size: 16px;
  width: 100%;
}

/* Hover and focus */
.search-bar input:focus {
  border-color: #5c6ac4;
  box-shadow: 0 0 0 2px rgba(92, 106, 196, 0.3);
}

/* pagination.css */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.pagination-button {
  background-color: #5c6ac4;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:hover {
  background-color: #4b5bb4;
}

.pagination-button:disabled {
  background-color: #c4cdd5;
  cursor: not-allowed;
}

/* Style cho thông tin số trang */
.pagination-info {
  font-size: 16px;
  color: #333;
}
